# Editor autosave files
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
a.out
test_syntax
test_ad
find_zero
test_vec
test_block

# Mac OS X debug info
*.dSYM

