# editor backup files
*~
.\#*
\#*\#
.\#*\#
*.swp

# compiler output
*.o
*.mod
.libs
.deps
stamp-*
*.aux
*.log

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse project settings
.cproject
.project
.settings/*

# VSCode
.vs
.vscode

# QtCreator project settings
CMakeLists.txt.user*

# Build directory in source.
build

log.log
install
.idea

# Mac OS X debug info
*.dSYM
*.DS_Store

# emacs directory setting:
.dir-locals.el

# Python sphinx build
python/sphinx_docs/docs/_build/

# Python cache directories
**/__pycache__/

# Python docker files
python/docker/wheelhouse*
python/docker/build*.log
python/docker/extracted_wheels/

*.pyc
*.eggs
*.egg-info


