# Editor autosave files
*~
*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
a.out
find_zero
sim_2p_incomp_adfi
sim_simple
test_ad
test_block
test_impestpfa_ad
test_syntax
test_vec

# Build directory in source
build/

# Mac OS X debug info
*.dSYM

# emacs directory setting:
.dir-locals.el