Source: opm-simulators
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: build-essential, debhelper (>= 9), libboost-filesystem-dev,
               libboost-system-dev, libboost-date-time-dev, libboost-test-dev,
               libsuperlu3-dev (>= 3.0) | libsuperlu-dev (>= 4.3), gfortran, libsuitesparse-dev, pkg-config,
               libdune-common-dev, libdune-istl-dev, cmake, libtinyxml-dev, bc,
               libecl-dev, git, zlib1g-dev, libtool, doxygen,
               texlive-latex-extra, texlive-latex-recommended, ghostscript,
               libopm-core-dev, libopm-material-dev, libeigen3-dev,
               libopm-parser-dev, libboost-iostreams-dev, libopm-common-dev,
               libopm-grid-dev, libdune-grid-dev, libug-dev, libopm-output-dev,
               libtrilinos-zoltan-dev, libopenmpi-dev, mpi-default-bin, libewoms-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://opm-project.org
Vcs-Git: git://github.com/OPM/opm-autodiff.git
Vcs-Browser: https://github.com/OPM/opm-autodiff

Package: libopm-simulators1-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libopm-simulators1 (= ${binary:Version})
Provides: libopm-simulators-dev
Suggests: libopm-simulators1-doc
Replaces: libopm-autodiff1-dev
Description: OPM simulators library -- development files
 Utilities for automatic differentiation and simulators based on AD. 

Package: libopm-simulators1
Section: libs
Pre-Depends: ${misc:Pre-Depends}, multiarch-support
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopm-simulators
Description: OPM simulators library
 Utilities for automatic differentiation and simulators based on AD. 

Package: libopm-simulators1-bin
Section: science
Pre-Depends: ${misc:Pre-Depends}, multiarch-support
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopm-simulators-bin
Replaces: libopm-autodiff1-bin
Description: OPM auto differentation library -- applications
 OPM Simulators.

Package: libopm-simulators1-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Provides: libopm-simulators-doc
Replaces: libopm-autodiff1-doc
Description: OPM auto differentation library -- documentation
 Utilities for automatic differentiation and simulators based on AD. 
